.container{
    margin-top: -50px;
    text-align: center;
}

.video-responsive {
  
    overflow: hidden;
    margin-top: 10px;
    margin:10px auto ;
    width: 80%;
    height: 50%;
    padding-bottom: 56.25%;
    position: relative;
    
  }
  
  .video-responsive iframe {
    left: 0%;
    top: 0;
    height: 80%;
    width: 100%;
    position: absolute;
  }